
* {
  /*box-sizing: border-box;*/
   margin: 0;
  padding: 0;
}
h1 {
text-align: center;
}
#chicken{
	background-color : #FF69B4;
	text-align: center;
	border: 1px solid black;
	width: 70px;
	height: 20px;
	float: right;
}
#beef {
	background-color : #FF0000;
	text-align: center;
	color : white;
	border: 1px solid black;
	width: 70px;
	height: 20px;
	float: right;
}
#sushi {
	background-color : #FFC2E1;
	text-align: center;
	border: 1px solid black;
	width: 70px;
	height: 20px;
	float: right;
}

div div{
background-color : #D3D3D3;
}

/* browser display */
@media (min-width: 992px){
.col-lg-3 {
	border: 1px solid black;
	float :left;
	width : 30%;
	margin-right: 10px;
	margin-left: 10px;
	overflow: visible;
}

}
/* tablet view */
@media	(min-width: 768px) and (max-width: 991px){
.col-mg-2 {
	border: 1px solid black;
	float :left;
	width : 46%;
	margin-right: 10px;
	margin-left: 15px;
	overflow: visible;
	margin-bottom:10px;
}

.col-mg-1 {
	border: 1px solid black;
	float :left;
	width : 95.5%;
	margin-right: 10px;
	margin-left: 15px;
	overflow: visible;
}
}
/*Mobile view*/
@media (max-width: 767px ){
.col-sg-3 {
	border: 1px solid black;
	width : 60%;
	margin-right: 10em;
	margin-left: 10em;
	margin-bottom: 10px;
	overflow: visible;

}
}
